<%= form_with model: @job, url: jobs_path, method: "post" do |form|%>
  <div class="flex flex-col">
    <%= form.label :start_on %>
    <%= form.date_field :start_on %>
  </div>
  <div class="flex flex-col">
    <%= form.label :client %>
    <%= form.select :client_id, Client.all.collect { |c| [ c.name, c.id ] }, include_blank: true %>
  </div>
   <div class="flex flex-col">
    <%= form.label :plumber_ids %>
    <%= form.select(
      :plumber_ids,
      options_from_collection_for_select(Plumber.all, 'id', 'name'),
      { include_blank: true },
      {
        multiple: true,
        data: {
          controller: 'ts-select'
        }
      }
    ) %>
  </div>

<% end %>
